<style>

     .responsive-section {
        margin-left: 15rem;
        margin-top: 3rem;
        padding-right: 15px;
        padding-left: 15px;
    }

    @media (max-width: 992px) {
        .responsive-section {
            margin-left: 0;
        }
    }
    

</style>

<body>
    <section class="responsive-section">
    <div class="container">

        <div class="row">
                <table class="table mt-4" id="userTable">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">Name <a href="#"><i class="fa-solid fa-arrow-up"></i></a> <a href="#"><i class="fa-solid fa-arrow-down"></i></a></th>
                    <th scope="col">e-mail <a href="#"><i class="fa-solid fa-arrow-up"></i></a> <a href="#"><i class="fa-solid fa-arrow-down"></i></th>
                    <th scope="col">Phone Number <a href="#"><i class="fa-solid fa-arrow-up"></i></a> <a href="#"><i class="fa-solid fa-arrow-down"></i></th>
                    <th scope="col">Options</th>

                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    {{!-- <th scope="row"></th> --}}
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.number}}</td>
                    <td>
                        {{#if this.isBlocked}}
                        <a href="/admin/unblock-user/{{this._id}}" class="btn btn-success"
                            onclick="return confirm('Are you want to Un-block {{this.username}}?')">Un-block</a>
                        {{else}}
                        <a href="/admin/block-user/{{this._id}}" class="btn btn-danger"
                            onclick="return confirm('Are you want to block {{this.username}}?')">Block</a>
                    </td>
                    {{/if}}
                </tr>
                {{/each}}

            </tbody>
        </table>
        <div>
            {{#if err}}
            <h3 class="d-flex justify-content-center" style="color: rgb(0, 0, 0);">{{err}}</h3>
            {{/if}}
            <div class="d-flex justify-content-start">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                       
                        <li class="page-item"><a class="page-link" href="/admin/all-users?p=1">1</a></li>
                        <li class="page-item"><a class="page-link" href="/admin/all-users?p=2">2</a></li>
                        <li class="page-item"><a class="page-link" href="/admin/all-users?p=3">3</a></li>
                       
                    </ul>
            </div>
            <div class="d-flex flex-row-reverse">
                <form class="form-inline" action="/admin/all-users/" method="post">
                    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            </nav>
        </div>
        </div>
    </div>
</section>
</body>

