
<html>
  <head>
      <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
  </head>
<section class="h-100 h-custom" style="background-color: #ffffff;">
  <div class="container py-5 h-100">
         <form action="/generate-pdf?k={{order._id}}" method="post">
   
  <button class="btn btn-outline-success" type="submit" style="margin-left: auto;">Download Invoice</button>
 </form>
        </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #0d0500 !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5 d-flex justify-content-center" style="color: #e64f09;">Product Details </p>
                  
            <div class="row">
   
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p>{{order.pDate}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>#Or{{order._id}}</p>
              </div>
            </div>

            <div class="mx-n6 px-5 py-4" style="background-color: #ef7f23;">
              {{#each order.products}}
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <p>{{this.name}}</p>
                </div>
                <div class="col-md-2 col-lg-2">
                  <p>{{this.quantity}}</p>
                </div>
                <div class="col-md-4 col-lg-4">
                  <p>₹ {{this.price}}</p>
                </div>
              </div>
                 {{/each}}
           
            </div>

            <div class="row my-4">
              <div class="col-md-5 offset-md-6 col-lg-7 offset-lg-6">
                <p class="lead fw-bold " style="color: #f37a27;">Total : ₹ {{order.totalAmount}}</p>
              </div>
            </div>

            <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Tracking Order</p>

            <div class="row">
              {{#each order.products}}

              <div class="col-lg-12">
                <p>{{this.name}}</p>
                  {{#if (eq this.status "placed")}}
                <div class="horizontal-timeline">
                  <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #28d00a;">Ordered</p>
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Shipped</p>
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Delivered
                      </p>
                    </li>
                  </ul>
                   </div>
                  {{else if (eq this.status 'Shipped')}}
                    <div class="horizontal-timeline">
                   <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Ordered</p>
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white"  style="background-color: #28d10a;">Shipped</p>
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Delivered
                      </p>
                    </li>
                  </ul>
                </div>
                      {{else if (eq this.status 'Delivered')}}
                    <div class="horizontal-timeline">
                   <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Ordered</p>
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white"  style="background-color: #f37a27;">Shipped</p>
                    </li>
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #28d10a;">Delivered</p>
                    </li>
                  </ul>
                </div>
                  {{else if (eq this.status 'Cancelled')}}
                   <div class="horizontal-timeline">
                   <ul class="list-inline items d-flex justify-content-center">
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f32727;">cancelled</p>
                    </li>
                   </ul>
                   </div>
                   {{/if}}
              </div>
              {{/each}}
            </div>

            <p class="mt-4 pt-2 mb-0">Want any help? <a href="#!" style="color: #f37a27;">Please contact
                us</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</html>



