<style>
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: fit-content;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #preview {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 100px;
    margin-bottom: 10px;
  }

  .wallet-container {
    margin-top: 0;
    width: 350px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  h5 {
    font-size: 24px;
    margin-bottom: 20px;

  }

  .balance {
    font-size: 36px;
    font-weight: bold;
    color: black;
  }
</style>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
<body>
  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="images/{{user.profileImage}}" alt="avatar" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Edit Profile
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" onclick="openModal()" href="#">Change Profile Picture</a></li>
                  <li><a class="dropdown-item" href="/change-password?id={{user._id}}">Change Password</a></li>
                  <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#addAddressModal">Add
                      Address</a></li>
                </ul>
              </div>
              {{#if success}}
                <script>
                  Swal.fire({
  icon: 'success',
  title: 'Password Changed',

  toast: true,
  position: 'center',
  showConfirmButton: true
});

                </script>
              {{/if}}
                    {{!-- Edit Profile Modal --}}
              <div id="modal" class="modal">
                <div class="modal-content">
                  <form action="/profile-image-change" method="post" enctype="multipart/form-data" multiple required>
                    <span onclick="closeModal()">&times;</span>
                    <h4>Profile Picture Upload</h4>
                    <img id="preview" alt="Preview">
                    <input type="file" name="proPic" class="form-control-file" onchange="previewImage(event)"
                      accept="image/*" multiple>
                    <br>
                    <input type="hidden" value="{{user._id}}" name="id" hidden>
                    <input type="submit"></input>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div>
             {{!-- Wallet --}}
            <div class="wallet-container mt-5">
              <h1>My Wallet</h1>
              <div class="balance">
                <h5>Balance: ₹ <span class="balance">{{user.walletAmount}}</span></h5>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.username}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(091) {{user.number}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(091) {{user.number}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Delivery Addresses:</p>
                </div>
              </div>
              <div class="row ml-5" style="overflow-y: scroll; max-height: 200px;">
                {{#each userAddresses}}
                <div class="col-sm-9 mb-2">
                  <hr>
                  <h5>{{this.address.name}}</h5>
                  <p class="text-muted mb-0">Address: {{this.address.address}} </p>
                </div>
                <div>
                  <a href="/edit-address?id={{this._id}}" type="button" class="btn btn-primary mt-5">edit</a>
                  <a href="/delete-address?id={{this._id}}" type="button" class="btn btn-danger mt-5">delete</a>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Add Address Modal -->
  <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/add-address" method="post">
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input type="text" id="fullName" name="fullName" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <textarea id="address" name="address" class="form-control" required></textarea>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="zipCode" class="form-label">Zip Code</label>
                <input type="number" id="zipCode" name="zipCode" class="form-control" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="mobileNo" class="form-label">Mobile No.</label>
                <input type="number" id="mobileNo" name="mobileNo" class="form-control" required>
                <input type="text" name="userId" value="{{user._id}}" hidden>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save Address</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  

<script>
  function openModal() {
    var modal = document.getElementById('modal');
    modal.style.display = 'block';
  }

  function closeModal() {
    var modal = document.getElementById('modal');
    modal.style.display = 'none';
  }

  function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function () {
      var preview = document.getElementById('preview');
      preview.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }

</script>